body{    
    overflow: hidden;
    margin: 0%;
    background:linear-gradient(#210433 35%,#613AB2,#C754A6) ;
}
main{
    min-height: 100vh;
    background-image: url('ImagenFondo2.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size:60% ;
    
}
/*Primera Pantalla*/
#primeraPantalla{
    width: 50%;
    padding-top: 3%;
}
h1{
    
    height: 130px;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 100px;
    border-radius: 0px 20px 20px 0px;
    background: #8D64E4;
    color: rgb(253, 253, 253);
    margin: 0%;
    padding-left: 4%;
    text-shadow: 0 0 10px rgb(213, 171, 241), 0 0 10px rgb(213,171, 241), 0 0 80px rgb(213, 171, 241);

}
h3{
    margin-left: 6%;
    font-family: 'Bitter',serif;
    color: white;
    width: 92%;
    font-size: 40px;
}
#advertencia{
    font-size: 80%;
    color: crimson;
    margin: 1% 1% 1% 6%;
}

/*Segundaa Pantalla*/
#segundaPantalla{
    margin-top: 1%;
    width: 100%;
}
a{
    margin:0px; 
    right: 1%;
    position: absolute;
    color: blanchedalmond;
}
a:active{
    color: rgb(179, 223, 248);
}

#Cifrado{
    width: 50%;
}
#OFFSET{
    color: white;
    width: 40%;
    margin-left: 15%;
    margin-bottom: 3%;
    height: 25px;
    font-size: 24px;
    padding: 2%;
    background: #E42882;
    border-radius: 15px;
    display: flex;
}
#ENCODE{
    margin-left: 40%;
    background-color: #8d64e4;
}

#DECODE{
    margin-left: 10%;
    background: #d460d0;
}

.EspacioCipher{
    width: 50%;
    margin-bottom: 3%;
    padding: 2.5%;
    height: 120px;
    border-radius: 20px;
}
.botones{
    background: #b2e9fcea;
    color: rgb(83, 8, 145);
    font-size: 100%;
    width: 50%;
    height: 35px;
    border-width: 1mm;
    border-radius: 10px;
    border-color: #b3a2da;
    margin:2% 25%;
}
.botones:hover{
    background: rgb(213, 171, 241);
    color: black;
}
.botones:active{
    background: rgb(224, 123, 182);
    color: rgb(41, 3, 53);
}
#EspacioNuevo{
    display: flex;
    padding: 1% 2%;
    justify-content: center;
    margin: 0% 20%;
    height: 90px;
    background:#ffffffea;
    border-radius: 20px;
    box-shadow: 0 0 10px #f1c1e5ea, 0 0 15px #f1c1e5ea, 0 0 50px #f1c1e5ea;
}
#EspacioNuevo p{
    color: black;
}
#newMessage{
    font-size: 100%;
}

/*Ventana Emergente*/
#Ayuda{
    width: 100%;
    background-color: rgb(7, 7, 7,0.95);
    position: absolute;
    min-height: 100vh;
    top: 0%;
}
#vent{
    background: rgb(233, 231, 231);
    width: 54%;
    border-radius: 20px;
    margin:2% 20%;
    padding: 2%;
    
}
h2{
    font-size: 40px;
    margin: 2%;
    color: #E42882;
}
ul{
    width: 75%;
    margin-left: 6%;
}
p{  
    font-family: 'Bitter';
    margin: 0%;
    color: white;
    font-size: 24px;
}
.Botones{
    background: #E42882;
    margin:0%; 
    width: 20%;
    border-radius: 5px;
    border-color: #5f065b;
    height: 35px;
    color: rgb(252, 251, 253);
    font-size: 100%;
    border-radius: 15px;
}

@media(max-width:1030px){
    #primeraPantalla{
        width: 60%;
    }
    #primeraPantalla h3{
        font-size: 26px;
    }
    ul{
        width: 70%;
        font-size: 80%;
    }
    #Cifrado{
        width: 70%;
    }
    #OFFSET{
        font-size: 100%;
    }
    h1{
        height: 100px;
        font-size: 83px;
    }
    
    p{
        font-size: 100%;
    }
    main{
        background-position: right bottom;
        background-size: 80%;
    }
    .botones{
        font-size: 80%;
    }

}
@media(max-width:650px){
    #primeraPantalla{
        width: 100%;
    }
    #primeraPantalla h3{
        font-size: 28px;
    }
    #segundaPantalla{
        width: 100%;
    }
    #vent{
        margin: 24% 7%;
        width: 80%;
    }
    h2{
        font-size: 100%;
    }
    ul{
        padding: 0%;
        font-size: 60%;
    }
    #Cifrado{
        width: 100%;
    }
    
    h1{
        border-radius: 0%;
        font-size: 70px;
        text-align: center;
        height: 90px;
    }
    main{
        background-position: center bottom;
    background-size:100% ;
    }
    .botones{
        font-size: 65%;
    }

}